<h1>MEET THE TEAM</h1>
<br>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../assets/images/background.jpg" alt="Jane" style="width:100%">
      <div class="aboutcontainer">
        <h2>Member 1</h2>
        <p class="title">Title</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/images/background.jpg" alt="Mike" style="width:100%">
      <div class="aboutcontainer">
        <h2>Member 2</h2>
        <p class="title">title</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/images/background.jpg" alt="Mike" style="width:100%">
      <div class="aboutcontainer">
        <h2>member 3</h2>
        <p class="title">title</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../assets/images/background.jpg" alt="John" style="width:100%">
      <div class="aboutcontainer">
        <h2>Member 4</h2>
        <p class="title">title</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>