<h1>Meet the Team</h1>
<br>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../assets/images/background.jpg" alt="Jane" style="width:100%">
      <div class="aboutcontainer">
        <h2>Henry Yu</h2>
        <p class="autitle">Student</p>
        <p>CSUF Student. I enjoy going out and trying new types of foods!</p>
        <p>henryyupac@csu.fullerton.edu</p>
        <p><button class="aubutton">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/images/background.jpg" alt="Mike" style="width:100%">
      <div class="aboutcontainer">
        <h2>Christian Ward</h2>
        <p class="autitle">Student</p>
        <p>CSUF Student. I really like playing video games and going out for long drives. Currently playing Starfield.</p>
        <p>cward35@csu.fullerton.edu</p>
        <p><button class="aubutton">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/images/background.jpg" alt="Mike" style="width:100%">
      <div class="aboutcontainer">
        <h2>Alexander Maes</h2>
        <p class="autitle">Student</p>
        <p>CSUF Student. I like video games. Currently I like maplestory.</p>
        <p>aMaes@csu.fullerton.edu</p>
        <p><button class="aubutton">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../assets/images/background.jpg" alt="John" style="width:100%">
      <div class="aboutcontainer">
        <h2>Rosa Silva</h2>
        <p class="autitle">Student</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>resilva316@csu.fullerton.edu</p>
        <p><button class="aubutton">Contact</button></p>
      </div>
    </div>
  </div>
</div>