<div class="dashdiv">
    <a href="{{currentUser.details.username}}/dashboard"><button class="dashbutton">Go To Dashboard</button></a>
</div>
<a href="{{currentUser.details.username}}/dashboard"><button>gotodashboard</button></a>

