
<!--This div will be nav bar in the future-->
<div>

</div>
<h1>{{currentUser.details.username}} Dashboard</h1>
<!--Flexbox div to contain layout-->
<div class = "container">
    <!--THis div is for left side of app-->
    <div>
        <div class="leftdiv">
            <h2>Goals</h2>
            <div class="leftcheckbox"> 
                <input type="checkbox" id="goal1" name="goal1" value="goal1">
                <label for="goal1">Insert later</label>
                <br>
                <input type="checkbox" id="goal2" name="goal2" value="goal2">
                <label for="goal2">Insert later</label>
                <br>
                <input type="checkbox" id="goal3" name="goal3" value="goal3">
                <label for="goal3">Insert later</label>
                <br>
            </div>
        </div>
        <div class="leftdiv">
            <h2>Habits</h2>
            <div class="leftcheckbox">
                <input type="checkbox" id="habit1" name="habit1" value="habit1">
                <label for="habit1">Insert later</label>
                <br>
                <input type="checkbox" id="habit2" name="habit2" value="habit2">
                <label for="habit2">Insert later</label>
                <br>
                <input type="checkbox" id="goal3" name="habit3" value="habit3">
                <label for="habit3">Insert later</label>
                <br>
            </div>
        </div>
        <div class="leftdiv">
            <h2>Affirmations</h2>
            <div class="leftcheckbox">
                <p>random generated affirmation will go here</p>
                <input type="button" value="Generate">
            </div>
        </div>
    </div>
    <!--This div is for the journal entires-->
    <div class="journaldiv">
        <h2>Journal Entries</h2>
    </div>
</div>

<h3>Trying out Tailwind lol didn't work</h3>