<div class="imgcontainer">
  <h1 class="h1text">Personal Dashboard!</h1>
  <img class="img" src="../assets/images/stickynote.png">
  {{#if currentUser}}
    <h2 class="center">Welcome Back {{currentUser.details.username}}</h2>
    <button class="centerbutton mainbutton"><a href="/{{currentUser.details.username}}">Go to your dashboard</a></button>
  {{else}}
    <h2 class="center">Create An Account!</h2>
    <button class="mainbutton"><a href="/user/signup">Sign up for an account</a></button>
  {{/if}}
</div>