<div class="logdiv">
  <form action="/user/login" method="post">
    <h1>Log in</h1>
    <p>Username</p>
    <input class= "textboxes" type="text" name="username" placeholder="username" required>
    <p>Password</p>
    <input class="textboxes" type="password" name="password" placeholder="password" required>
    <a href="/user/forgot">Forgot your password?</a>
    <div class="buttonalign"><button class="loginbutton" type="submit">Log in</button></div>
  </form>
</div>
<br>
