<div class="logdiv">
  <form action="" method="post">
    <h1>Set a New Password</h1>
    <p>New Password</p>
    <input class="textboxes" type="password" name="password" placeholder="New password" required>
    <div class="buttonalign"><button class="setpass" type="submit">Set Password</button></div>
  </form>
</div>
<br>