<div class="logdiv"> 
  <form action="/user/signup" method="post">
    <h1>Sign up</h1>
    <input class="textboxes" type="text" name="username" placeholder="Username" required>
    <input class="textboxes" type="email" name="email" placeholder="Email" required>
    <input class="textboxes" type="password" name="password" placeholder="Password" required>
    <button type="submit">Sign up</button>
  </form>
</div>
