.imgcontainer {
    position: relative;
  text-align: center;
}

.img {
    display:block;
    margin:auto;
    width: 40%;
    height: 40%;
}

.center {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centerbutton {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 47%;
    left: 49%;
}

.h1text {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainbutton {
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 200px;
  height: 40px;
  line-height: 46px;
  background-color: #E9EDC9;
  border-radius: 5px;
  text-align: center;
  font-family: cursive;
  border-color: rgb(219, 194, 160);
  font-size: 15px;
  font-weight: bold;
}

.mainbutton:hover {
  cursor: pointer;
  background-color: #CCD5AE;
}