.container {
    display: flex;
}

h1 {
    font-family: Apple Chancery;
    text-align: center;
}

h2 {
    font-family: Apple Chancery;
}

a {
    text-decoration: none;
}

body {
    background-image: url(../images/backgroundbetter.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    
}

.leftdiv {
    background-color: #CCD5AE;
    border-radius: 10px;
}

.leftcheckbox {
    background-color: #E9EDC9;
}

.journaldiv {
    background-color: #FAEDCD;
    border-radius: 10px;
    margin-left: 60px;
}

.jounalcontent {
    background-color: #FAEDCD;
}

.journalcontainers {
    display: grid;
}

.journalbox {
    background-color: white; 
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.placeholder {
    width: 60px;
}