.container {
    display: flex;
}

h1 {
    font-family: Apple Chancery;
    text-align: center;
}

h2 {
    font-family: Apple Chancery;
    padding: 0 16px;
}

a {
    text-decoration: none;
}

body {
    background-image: url(../images/backgroundbetter.jpg);
    background-size: auto;
}

.leftdiv {
    background-color: #CCD5AE;
    border-radius: 10px;
    width: 330px;
    height: auto;
    margin-left: 30px;
}

.leftcheckbox {
    background-color: #E9EDC9;
    border-radius: 10px;
    width: 300px;
    height: auto;
    margin-left: 15px;
}

.journaldiv {
    background-color: rgb(217, 195, 153);
    box-shadow: inset 0 0 150px rgba(217, 195, 153, 0.4), inset 0 0 150px rgba(217, 195, 153, 0.3);
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 30px;
    width: 67%;
}

.jounalcontent {
    background-color: #FAEDCD;
}

.journalcontainers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.journalbox {
    background-color: white; 
}

.placeholder {
    width: 60px;
}

.header_text {
    font-size: 18px;
    color: gray;
    display: inline-block;
}

ul {
    list-style-type: square;
}

.dashdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashbutton {
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 100px;
    height: 40px;
    line-height: 46px;
    background-color: #E9EDC9;
    box-shadow: inset 0 0 150px rgba(234, 236, 204, 0.4), inset 0 0 150px rgba(234, 236, 204, 0.3);
    border-radius: 5px;
    text-align: center;
    font-family: Apple Chancery;
    border: none;
    font-size: 15px;
}

.dashbutton:hover {
    cursor: pointer;
    background-color: rgba(234, 236, 204, 0.4);
  }

  #popup-window {
    position: fixed;
    width: 300px;
    height: 200px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}