.nav {
    flex-shrink: 0;
    display: flex;
    height: 72px;
    background-color: #CCD5AE;
    color: black;
    text-decoration: none;
}

.navcontainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.user {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
}

a {
    text-decoration: none;
}

.navbutton {
    margin-left: 1rem;
    width: 90px;
    height: 46px;
    line-height: 46px;
    background-color: #CCD5AE;
    border-radius: 5px;
    text-align: center;
    font-family: Apple Chancery;
}

.navbutton:hover {
  cursor: pointer;
  background-color: #E9EDC9;
}

.pages {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: auto;
}