form {
    width: 550px;
    height: 640px;
    background-color: #FAEDCD;
    border-radius: 10px;
    margin: auto;
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
    font-family: cursive;
    box-shadow: 10px 10px #F7E2AD;
    
}

.textboxes {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    outline: none;
    resize: none;
    border: 0;
    transition: all 0.3s;
    border-bottom: 2px solid white;
}

.logdiv {
    margin-top: 60px;
}

.buttonalign {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1rem;
}

.loginbutton {
    margin-left: 1rem;
    width: 90px;
    height: 46px;
    line-height: 46px;
    background-color: #CCD5AE;
    border-radius: 5px;
    text-align: center;
    font-family: cursive;
    border: none;
    font-size: 15px;
    font-weight: bold;
    
}

.loginbutton:hover {
  cursor: pointer;
  background-color: #E9EDC9;
}

.forgetpass {
    margin-left: 1rem;
    width: 200px;
    height: 46px;
    line-height: 46px;
    background-color: #CCD5AE;
    border-radius: 5px;
    text-align: center;
    font-family: cursive;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.forgetpass:hover {
    cursor: pointer;
    background-color: #E9EDC9;
  }

.setpass {
    margin-left: 1rem;
    width: 150px;
    height: 46px;
    line-height: 46px;
    background-color: #CCD5AE;
    border-radius: 5px;
    text-align: center;
    font-family: cursive;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.setpass:hover {
    cursor: pointer;
    background-color: #E9EDC9;
}

